* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: black;
}

header,
nav,
section,
footer {
    color: aliceblue;
} */

.grupo {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    background-color: rgb(9, 219, 191);
    color: beige;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.navegacao {
    background-color: rgb(6, 124, 118);
    color: aliceblue;
    display:inline-block;
    width: 30%;
    padding: 10px; 
}

.secao {
    background-color: rgb(5, 88, 77);
    color: azure;
}

.rodape {
    background-color: rgb(89, 112, 112);
    color: rgb(0, 0, 0);
}